.online{
   color: green;
}
.offline{
    color: red;
}

.contact{
    margin-bottom: 10px;
}
.contact:first-child{
    margin-top: 20px;
}

.contact-image{
    width: 60px;
    height: 60px;
    
    border-radius: 30px;
}